<ng-container *ngIf="data.type && (data.type.name === 'BibliographicEntry')">
    <ng-container *ngFor="let element of showList">
        <ng-container *ngIf="showEmptyValues || (data[element] && data[element].length > 0)">
            <ng-container *ngIf="showAttrNames">{{element}}: </ng-container>
            <ng-container *ngIf="data[element]">
                <span [ngClass]="styleProperties.emphasized.includes(element) ? 'font-italic' : ''">
                    <ng-container *ngIf="styleProperties.inBrackets.includes(element)">(</ng-container>
                    <ng-container *ngIf="styleProperties.titleQuotes && element === 'title'">"</ng-container>
                    {{ data[element] }}
                    <ng-container *ngIf="styleProperties.titleQuotes && element === 'title'">"</ng-container>
                    <ng-container *ngIf="styleProperties.inBrackets.includes(element)">)</ng-container>
                    <span *ngIf="data[element].length > 0" [class.hidden]="(!isCommaSeparated)">,</span>
                </span>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="showMainElemTextContent">{{ data.text }}</ng-container>
</ng-container>